body {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#subhed {
  color: dimgrey;
}
h1, h2 {
  font-family: Philosopher;
}
h1 {
  font-size: 2.5em;
}
#container {
  width: 80%;
  max-width: 725px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
}
#theater {
  /*background-color: rgba(255, 255, 255, 0.6);*/
  padding: 5px 30px;
  /*min-height: 316px;*/
  display: inline-block;

}
.chakdiv {
  height: 45px;
  width: 45px;
  border-radius: 100px;
  /*line-height: 45px;
	position: relative;*/
  float: left;
  /* padding will adjust the size of the circle */
  margin: 0 -6px; /* provides proper spacing */
  border: 3px solid black;
}
.chaktext {
  margin: 0 0 40px 120px;
  display: none;
}
.chaklab {
  color: #000;
}
#chakras {
  display: inline-block;
}
#root {
  background-color: #EA4958;
}
#sacral {
  background-color: #FDBA52;
}
#solar {
  background-color: #FBEB5A;
}
#heart {
  background-color: #8DFC46;
}
#throat {
  background-color: #478DFC;
}
#eye {
  background-color: #5F4AC1;
}
#crown {
  background-color: #AF99FE;
}
.description {
  position: relative;
  text-align: left;
}
footer {
  color: #9D9999;
  font-size: 0.8em;
  padding: 0 0 10px 30px;
}

a {
  text-decoration: none;
}

/*Media Queries*/

/*Mobile Phones Portrait*/
@media only screen and (max-width: 600px) {
  #container {
    width: 92%;
  }
  .chakdiv {
    height: 30px;
    width: 30px;
    margin: 0 3px;
  }
}

/*Mobile Phones Landscape*/
@media only screen and (max-device-width: 600px) and (orientation: landscape) {


}

/*Tablets*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

@media only screen and (max-width: 900px) {

  }
}
