body {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
#subhed {
  color: dimgrey;
}
h1, h2 {
  font-family: Philosopher;
}
h1 {
  font-size: 2.5em;
}
#container {
  width: 80%;
  max-width: 790px;
  margin: 0 auto;
}
#theater {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 30px;
  /*min-height: 316px;*/

}
.chakdiv {
  height: 75px;
  width: 75px;
  border-radius: 100px;
  line-height: 45px;
	position: relative;
  float: left;
  /* padding will adjust the size of the circle */
  margin: 0 -6px; /* provides proper spacing */
  border: 3px solid black;
}
.chaktext {
  margin: 0 0 40px 120px;
  display: none;
}
.chaklab {
  color: #000;
}
#chakras {
  margin: 20px 0;
}
#root {
  background-color: #EA4958;
}
#sacral {
  background-color: #FDBA52;
}
#solar {
  background-color: #FBEB5A;
}
#heart {
  background-color: #8DFC46;
}
#throat {
  background-color: #478DFC;
}
#eye {
  background-color: #5F4AC1;
}
#crown {
  background-color: #AF99FE;
}
.description {
  position: relative;
  text-align: left;
}
